
# 忽略所有 .log 文件
*.log
 
# 忽略所有 .tmp 文件
*.tmp
 
# 忽略所有 .txt 文件，但不包括 index.txt
*.txt
!index.txt
 
# 忽略 /vendor 目录下的所有文件
/vendor/

# 忽略所有的 .pdf 文件，但保留 doc/notes.pdf
*.pdf
!doc/notes.pdf

# 忽略所有的 .md 文件，除了 readme.md
*.md
!readme.md


.idea/

*.pyc