<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
</head>
<body>
    <div class="login-container">
        <form action="/login/" method="post">
            <div {% if login_form.errors.username %}{% endif %}>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div {% if login_form.errors.password %}{% endif %}>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <input type="submit" value="Login">
                <div><p>{% for error in login_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</p></div>
            </div>
            {% csrf_token %}
        </form>
    </div>

</body>
</html>